API_URL=http://api
PUBLIC_API_URL=http://localhost
# PUBLIC_API_URL=http://192.168.100.141
IMAGES_URL=''
PUBLIC_IMAGES_URL=''

# API_URL=http://api
# PUBLIC_API_URL=http://localhost
# # PUBLIC_API_URL=http://192.168.100.141
# IMAGES_URL=${API_URL}
# PUBLIC_IMAGES_URL=${PUBLIC_API_URL}
