---
import { ViewTransitions } from 'astro:transitions'
import Metadata from '@/components/Metadata.astro'
import '@/globals.css'

interface Props {
  title?: string
  description?: string
  image?: string
}
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <Metadata {...Astro.props} />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
